<%= form_with(model: zayavk, local: true) do |form| %>
  <% if zayavk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zayavk.errors.count, "error") %> prohibited this zayavk from being saved:</h2>

      <ul>
        <% zayavk.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Наименование подразделения" %>
    <%= form.text_field :podr, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Фамилия, Имя, Отчество"%>
    <%= form.text_field :fio %>
  </div>

  <div class="form-group">
    <%= form.label "Телефон" %>
    <%= form.text_field :telephone %>
  </div>

  <div class="form-group">
    <%= form.label "Занимаемая должность" %>
    <%= form.text_field :dolzh %>
  </div>

  <div class="form-group">
    <%= form.label "Перечень базовый сервисов" %>
    <%= form.text_field :servers %>
  </div>

  <div class="form-group">
    <%= form.label "Наименование информационных систем" %>
    <%= form.text_field :infosyst %>
  </div>

  <div class="field">
    <%= form.label "Список соглосований" %>
    <%= form.text_field :soglos %>
  </div>

  <div class="actions">
    <%= form.submit "Создание заявки" %>
  </div>
<% end %>
