<p id="notice"><%= notice %></p>

<h1>Заявка на доступ пользователя к информационным системам и сервисам</h1>

<table>
  <thead>
    <tr>
      <th>ФИО</th>
      <th>Подразделение</th>
      <th>Должность</th>
      <th>Телефон</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zayavks.each do |zayavk| %>
      <tr>
        <td><%= zayavk.fio  %></td>
        <td><%= zayavk.podr %></td>
        <td><%= zayavk.dolzh %></td>
        <td><%= zayavk.telephone %></td>
        <td><%= link_to 'Посмотреть', zayavk %></td>
        <td><%= link_to 'Редактировать', edit_zayavk_path(zayavk) %></td>
        <td><%= link_to 'Удалить', zayavk, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новая заявка', new_zayavk_path %>
