<p id="notice"><%= notice %></p>

<p>
  <strong>Podr:</strong>
  <%= @zayavk.podr %>
</p>

<p>
  <strong>Fio:</strong>
  <%= @zayavk.fio %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @zayavk.telephone %>
</p>

<p>
  <strong>Dolzh:</strong>
  <%= @zayavk.dolzh %>
</p>

<p>
  <strong>Servers:</strong>
  <%= @zayavk.servers %>
</p>

<p>
  <strong>Infosyst:</strong>
  <%= @zayavk.infosyst %>
</p>

<p>
  <strong>Soglos:</strong>
  <%= @zayavk.soglos %>
</p>

<%= link_to 'Edit', edit_zayavk_path(@zayavk) %> |
<%= link_to 'Back', zayavks_path %>
